source/packages/
packages/
00_Release/
01_Nuget/
debug/
release/
build/
bin/
obj/
cache/
log/
tmp/

*~
*.lock
*.DS_Store
*.swp
*.out
*.sou
*.suo
*.sqlite
/source/.vs/InPlaceEditTextBoxDemo/v15/sqlite3/storage.ide
